<launch>
	<arg
		name = "rate"
		default = "5"
	/>
	<node
		pkg = "beginner_tutorials"
		name = "publisher"
		type = "talker"
		output = "screen"
		args="$(arg rate)"
	/>
	<node
		pkg = "beginner_tutorials"
		name = "subscriber"
		type = "listener"
		output = "screen"	
		launch-prefix = "xterm -e"
	/>
</launch>